<div class="layout" *ngIf="{ activeIndex: activeIndex$ | async } as ctx">
  <p-card>
    <p-steps [model]="steps" [activeIndex]="ctx.activeIndex!"></p-steps>
  </p-card>
  <p-divider align="left" >
    <b>{{steps[ctx.activeIndex!]?.label}}</b>
  </p-divider>
  <p-card>
    <ng-container [ngSwitch]="ctx.activeIndex">
      <div *ngSwitchCase="0">
        <app-step-image-upload (fileUploaded)="onFileUploaded($event)"></app-step-image-upload>
      </div>
      <div *ngSwitchCase="1">
        <app-step-form (submitted)="onFormSubmitted($event)"></app-step-form>
      </div>
      <div *ngSwitchCase="2">
        <app-step-tabel (selected)="onUserSelected($event)"></app-step-tabel>
      </div>
      <div *ngSwitchCase="3">
        <app-step-result></app-step-result>
      </div>
      <div *ngSwitchDefault>
        Somthing Went wrong Here :(
      </div>
    </ng-container>
  </p-card>

</div>
